ReadMe.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.env
.env.prod
/nginx/logs


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.env
### VS Code ###
.vscode/

### Claude Code ###
.claude/

### Production Secrets ###
prod/.env.prod
prod/nginx/logs/
prod/docker/master/init/01-create-users.sql
prod/docker/slave/init/00-create-users.sql
prod/docker/slave/init/01-start-replication.sql
prod/docker/maxscale/maxscale.cnf

# Keep example files
!prod/.env.prod.example
!prod/docker/master/init/01-create-users.sql.example
!prod/docker/slave/init/00-create-users.sql.example
!prod/docker/slave/init/01-start-replication.sql.example
!prod/docker/maxscale/maxscale.cnf.example
